@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f8f8f8;
}
.jumbotron {
	padding: 5rem 1rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.jumbotron-h {
	padding: 0rem;
}
section {
	padding-top: 3rem;
	padding-bottom: 3.5rem;
}
figure {
	margin: 0;
}
.rounded-circle {
	border-radius: 100px !important;
}
img.rounded {
	width: 100%;
}
.navbar {
	background-color: rgb(52, 2, 113);
}
nav.footer {
	background-color: none;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 20px;
	font-size: small;
}
img.card-img-top {
	width: 100%;
}
.card {
	box-shadow: 13px 13px 20px #caced1, -13px -13px 20px white;
	border-radius: 20px;
	margin-top: 10px;
	color: rgb(0, 0, 0);
	background-color: #e8ebee;
}
.col {
	margin-top: 20px;
}
#galeri,
#lokasi,
#pesan,
#gift {
	background-image: url(../../assets/images/ornam/Asset5.png), url(../../assets/images/ornam/Asset5a.png);
	background-size: 330px;
	background-repeat: no-repeat, no-repeat;
	background-position: top -4px center, bottom -4px center;
}
#about {
	background-image: url(../../assets/images/ornam/Asset9.png), url(../../assets/images/ornam/Asset9a.png);
	background-position: top 2px center, bottom -2px center;
	background-repeat: no-repeat, no-repeat;
	background-size: 325px;
}
#about {
	padding-bottom: 2rem;
}
#tanggal {
	background-size: 340px;
	background-image: url(../../assets/images/ornam/Asset5a.png);
	background-repeat: no-repeat;
	padding-top: 25px;
	background-position: bottom -10px center;
}
.card-1 {
	border-radius: 20px;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 0rem;
	box-shadow: 12px 12px 20px #caced1, -12px -12px 20px white;
}
h1.display-12.text-center {
	padding: 3rem 0;
	background-image: url(../../assets/images/ornam/Asset7a.png);
	background-repeat: no-repeat;
	background-position: top -30px center;
	font-size: 1.8rem;
	background-size: 350px;
}
#mpl {
	background-image: url(../../assets/images/ornam/Asset3.png), url(../../assets/images/ornam/Asset2.png);
	background-position: top -4px center, bottom -4px center;
	background-repeat: no-repeat, no-repeat;
	background-size: 310px;
}
#mpw {
	background-image: url(../../assets/images/ornam/Asset3.png), url(../../assets/images/ornam/Asset2.png);
	background-position: top -4px center, bottom -4px center;
	background-repeat: no-repeat, no-repeat;
	background-size: 310px;
}
.p {
	color: darkgoldenrod;
}
main {
	padding: 20px;
}
.audio {
	padding: 20px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
}
audio {
	width: 250px;
	height: 30px;
}

.modal1 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1030; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.container1 {
	text-align: center;
}
.hero {
	background: linear-gradient(rgba(153, 110, 109, 0.65), rgba(153, 110, 109, 0.3)), rgba(0, 0, 0, 0.55) url(../../assets/images/person/naruhi10.jpg) no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	min-height: 100%;
	background-position: center;
	color: white;
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	font-family: "Raleway", sans-serif;
	backdrop-filter: blur(20px);
}
.hero {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	padding-bottom: 15rem;
}
.float-container {
	background-color: #343a40;
	position: top;
	width: 35px;
	height: 35px;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	border-radius: 50%;
}
.playpause-chk-icon {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.playpause-chk-icon + label::before {
	font-family: "Bootstrap-icons";
	content: "\F4C2";
	font-size: 2rem;
	cursor: pointer;
	display: block;
	position: relative;
	margin: 2px;
	color: white;
	transition: 0.1s transform ease;
	transform: rotate(-180deg);
}

.playpause-chk-icon:checked + label::before {
	font-family: "Bootstrap-icons";
	content: "\F4F3";
	cursor: pointer;
	transform: rotate(0);
}
/* countdown css */
.days,
.minutes,
.hours,
.seconds {
	border-radius: 6px;
	padding: 0 6px 0 6px;
	box-sizing: border-box;
	background-color: #e8ebee;
	color: black;
	box-shadow: inset 2px 2px 8px #caced1, inset -2px -2px 8px white;
}
.days_text,
.minutes_text,
.hours_text,
.seconds_text {
	padding-top: 3px;
}
#countdown {
	border-radius: 20px;
	box-shadow: 5px 5px 10px #caced1, -5px -5px 10px white;
	margin-bottom: -10px;
	display: flex;
	flex-flow: column;
	align-items: center;
	background-size: cover;
}

ul#hitungmundur {
	list-style: none;
	margin: 25px 0px 0px 0px;
	padding: 0;
	display: block;
	text-align: center;
}
ul#hitungmundur li {
	display: inline-block;
}
ul#hitungmundur li span {
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	font-family: "ZCOOL QingKe HuangYou", cursive;
}
ul#hitungmundur li.separator {
	font-size: 30px;
	line-height: 25px;
	vertical-align: top;
}
ul#hitungmundur li p {
	color: rgb(0, 0, 0);
	font-size: 16px;
}
.back-to-top {
	position: fixed;
	bottom: 25px;
	left: 25px;
	display: none;
}
/* button scrool to top */
#button {
	background-color: #000000;
	position: fixed;
	width: 35px;
	height: 35px;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	border-radius: 50%;
	transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#button::after {
	font-family: "Bootstrap-icons";
	content: "\F13A";
	font-weight: normal;
	font-style: normal;
	font-size: 2rem;
	line-height: 50px;
	color: #fff;
}
#button:hover {
	cursor: pointer;
	background-color: #23023b;
}
#button:active {
	background-color: #23023b;
}
#button.show {
	opacity: 1;
	visibility: visible;
}
figcaption {
	text-align: center;
	margin: 10px;
}
/* cp to clipboard */
::selection {
	background-color: black;
	color: white;
}
#container {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px 30px;
	margin: 0px;
	box-shadow: 13px 13px 20px #caced1, -13px -13ox 20px white;
	border-radius: 15px;
}
#text {
	box-sizing: border-box;
	background-color: #e8ebee;
	color: #000000;
	border-radius: 15px;
	padding: 10px 15px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Share Tech Mono";
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.5;
	box-shadow: inset 4px 4px 8px #caced1, inset -4px -4px 8px white;
}
#copy::before {
	/* font-family: 'Bootstrap-icons';
    content: '\F290'; */
	position: relative;
	box-sizing: border-box;
	width: 180px;
	min-height: 44px;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	padding: 5px;
	border: 0;
	border-radius: 15px;
	outline: none;
	cursor: pointer;
	user-select: none;
}
.font-esthetic {
	font-family: "Sacramento", cursive !important;
}

.font-arabic {
	font-family: "Noto Naskh Arabic", serif !important;
}
/* Warna default saat tidak aktif */
#navbar-menu .nav-link {
	color: rgb(174, 174, 174);
	transition: color 0.3s ease-in-out; /* Efek transisi */
}

/* Warna saat hover atau fokus */
#navbar-menu .nav-link:hover,
#navbar-menu .nav-link:focus {
	color: #ffffff; /* Warna merah muda terang */
}

/* Warna saat aktif */
#navbar-menu .nav-link.active {
	color: #ffffff !important; /* Warna kuning keemasan */
}

/* Span untuk teks bawah dengan efek yang sama */
#navbar-menu .nav-link span {
	transition: color 0.3s ease-in-out; /* Efek transisi */
}

#navbar-menu .nav-link:hover span,
#navbar-menu .nav-link:focus span {
	color: #f8d7da; /* Warna merah muda terang */
}

#navbar-menu .nav-link.active span {
	color: #ffffff; /* Warna kuning keemasan */
}

/*heart animation*/
.heartbox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
svg {
	cursor: pointer;
	overflow: visible;
	width: 60px;
	margin: 20px;
}

svg #heart {
	transform-origin: center;
	animation: animateHeartOut 0.1s linear forwards;
	fill: #737070;
}

svg #main-circ {
	transform-origin: 29.5px 29.5px;
}

.checkbox {
	display: none;
}

.checkbox:checked + label svg #heart {
	transform: scale(0.2);
	fill: #e2264d;
	animation: animateHeart 0.3s linear forwards 0.25s;
}

.checkbox:checked + label svg #main-circ {
	transition: all 2s;
	animation: animateCircle 0.3s linear forwards;
	opacity: 1;
}

.checkbox:checked + label svg #heartgroup1 {
	opacity: 1;
	transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #heartgroup1 #heart1 {
	transform: scale(0) translate(0, -20px);
	transform-origin: 0 0 0;
	transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup1 #heart2 {
	transform: scale(0) translate(30px, -70px);
	transform-origin: 0 0 0;
	transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup2 {
	opacity: 1;
	transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #heartgroup2 #heart1 {
	transform: scale(0) translate(60px, -35px);
	transform-origin: 0 0 0;
	transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup2 #heart2 {
	transform: scale(0) translate(90px, -35px);
	transform-origin: 0 0 0;
	transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup3 {
	opacity: 1;
	transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #heartgroup3 #heart1 {
	transform: scale(0) translate(60px, 0px);
	transform-origin: 0 0 0;
	transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup3 #heart2 {
	transform: scale(0) translate(80px, 30px);
	transform-origin: 0 0 0;
	transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup4 {
	opacity: 1;
	transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #heartgroup4 #heart1 {
	transform: scale(0) translate(50px, 30px);
	transform-origin: 0 0 0;
	transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup4 #heart2 {
	transform: scale(0) translate(60px, 70px);
	transform-origin: 0 0 0;
	transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup5 {
	opacity: 1;
	transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #heartgroup5 #heart1 {
	transform: scale(0) translate(-40px, 60px);
	transform-origin: 0 0 0;
	transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup5 #heart2 {
	transform: scale(0) translate(-90px, 60px);
	transform-origin: 0 0 0;
	transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup6 {
	opacity: 1;
	transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #heartgroup6 #heart1 {
	transform: scale(0) translate(-60px, 0px);
	transform-origin: 0 0 0;
	transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup6 #heart2 {
	transform: scale(0) translate(-80px, -25px);
	transform-origin: 0 0 0;
	transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup7 {
	opacity: 1;
	transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #heartgroup7 #heart1 {
	transform: scale(0) translate(-50px, -40px);
	transform-origin: 0 0 0;
	transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup7 #heart2 {
	transform: scale(0) translate(-85px, -50px);
	transform-origin: 0 0 0;
	transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #heartgroup2 {
	opacity: 1;
	transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #heartgroup3 {
	opacity: 1;
	transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #heartgroup4 {
	opacity: 1;
	transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #heartgroup5 {
	opacity: 1;
	transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #heartgroup6 {
	opacity: 1;
	transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #heartgroup7 {
	opacity: 1;
	transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
	40% {
		transform: scale(24);
		opacity: 1;
		fill: #dd4688;
	}
	55% {
		transform: scale(25);
		opacity: 1;
		fill: #d46abf;
	}
	65% {
		transform: scale(26);
		opacity: 1;
		fill: #cc8ef5;
	}
	75% {
		transform: scale(27);
		opacity: 1;
		fill: transparent;
		stroke: #cc8ef5;
		stroke-width: 0.5;
	}
	85% {
		transform: scale(28);
		opacity: 1;
		fill: transparent;
		stroke: #cc8ef5;
		stroke-width: 0.2;
	}
	95% {
		transform: scale(29);
		opacity: 1;
		fill: transparent;
		stroke: #cc8ef5;
		stroke-width: 0.1;
	}
	100% {
		transform: scale(30);
		opacity: 1;
		fill: transparent;
		stroke: #cc8ef5;
		stroke-width: 0;
	}
}

@keyframes animateHeart {
	0% {
		transform: scale(0.4);
	}
	40% {
		transform: scale(2.4);
	}
	100% {
		transform: scale(2);
	}
}

@keyframes animateHeartOut {
	0% {
		transform: scale(2.8);
	}
	100% {
		transform: scale(2);
	}
}

#chatbot-bubble:hover {
	transform: scale(1.1);
	transition: 0.3s ease;
}
#chatbot-iframe-container {
	background: white;
	border-radius: 8px;
	overflow: hidden;
}
